body {
  display: flex;
  flex-direction: column;
  color: rgb(158, 122, 32);
  /* color: rgb(64, 56, 35); */
  /* text-shadow: 4px 3px rgba(0, 0, 0, 0.394); */
  background-color: #9f9d9a;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 30rem;
}

input{
  margin-top: 20px;
}

button{
  color: rgb(0,0,0); 
  background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  border-radius: 1rem;
  font-size: 1rem;
  align-self: center;
  padding: 1rem;
}
#title {
  font-family: 'Freehand', cursive;
  font-size: 3rem;
  font-weight: 100;
  display: flex;
  flex-direction:column;
  padding-bottom: 1rem;
  padding-right: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(79,49,48);
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

#frame {
  border: solid 3rem #eb0f0e;
  border-radius: 2rem;
  border-bottom: solid 5rem #eb0f0e;
  box-shadow: 10px 10px  rgba(95, 76, 52, 0.4), inset 2px 3px #2d2727a9;
  outline: solid 2px rgb(41, 41, 21);
  background-color: #816363;
  display: flex;
  justify-content: space-evenly; */
  margin-top: 5rem;
  padding: 3rem;
  align-items: center;
}


#game {
  display: flex;
}

#tools {
  margin-right: 10%;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 0;
  color: rgb(239,239,208);
  background-color: rgb(79,49,48);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

#picker {
  flex: true;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  justify-content: ;
}
.cell {
  flex: auto;
  flex-wrap: nowrap;
}
